@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline|Comfortaa:700|Libre+Baskerville:700');

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

html {
	-webkit-animation: color-change-3x 4s linear infinite alternate both;
	animation: color-change-3x 4s linear infinite alternate both;
	font-size: 10px;
	background-color: transparent !important;
	width: 100%;
	height:100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Comfortaa', cursive;
	margin: 0;
	padding: 0;
	width: 100%;
	height:100%;
}

#root {
	/* where all react is rendered out */
	margin: 0;
	padding: 0;
	width: 100%;
	height:100%;
    overflow: hidden;
    position:fixed;
}

#super {
	/* direct parent of intro and main */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 5%;
	width: 100%;
	height:100%;
}

#intro {
	/* holds the intro message h1's */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 0;
    padding-right: 0;
    padding-bottom: 2.5vh;
    padding-left: 0;
	margin: 0;
}

#main {
	/* holds the card */
	padding-top: 2.5vh;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
	margin: 0;
	-webkit-animation: bounce-in-bottom 1.1s both;
	animation: bounce-in-bottom 1.1s both;
	-webkit-animation-delay: 7.2s;
	animation-delay: 7.2s;
}

#phone-rotate {
	display: none;
	padding: 0;
	margin: 0;
}

/* ---------------------- Media Q's ---------------------- */
@media screen and (min-width: 500px) {  /* Test media q, remember to delete******************/
	#intro {
		display: none;
		padding-bottom: 0;
	}

	#test{ /* Test media q, remember to delete*****************************************/
		/* display: flex; */
		/* padding:0; */
		padding-top: 0;
		padding-right: 0;
		padding-bottom: 2.5vh;
		padding-left: 0;
		margin: 0;
		width: 100%;
		height:100%;
	}

	#main {
		/* holds the card */
		-webkit-animation-delay: 0s;
		animation-delay: 0s;
	}
}

@media screen and (max-width: 175px) {
	/* No matter the orientation, the screen is simply not big enough to handle even the resized card, figure out as low as the width can go and still be clickable/visible to set it here */
	/* display a div saying: "I'm sorry your device is screen is too small to view this page" */
}

@media screen and (max-height: 100px) {
	/* No matter the orientation, the screen is simply not big enough to handle even the resized card, figure out as low as the height can go and still be clickable/visible to set it here */
	/* display a div saying: "I'm sorry your device is screen is too small to view this page" */
}

@media screen and (max-height: 702px) and (orientation:portrait) {
	/* Find out what's the minimum width and height for landscape orientation of just the card, take the landscape haight and make it the width here */

	/* display a "rotate your phone" div */
	#phone-rotate{
		background-color: coral;
		padding:5%;
		width: 30px;
		height: 30px;
	}

	#intro {
		display: none;
		padding-bottom:0;
	}
	#main {
		display:none;
		padding-top: 0;
	}
}

@media screen and (max-width: 702px) and (orientation:landscape) {
	/* corresponds to above*/
	/* remove the "rotate your phone" div */
	#phone-rotate{
		display:none;
		padding: 0;
		margin: 0;
	}
	#intro {
		display: none;
		padding-bottom:0;
	}
	#main {
		padding-top: 0;
		-webkit-animation-delay: 0s;
		animation-delay: 0s;
	}
}

@media screen and (max-height: 629px) {
	/* No matter the orientation, the intro text simply does not look good without a min height of 630px */
	#intro {
		display: none;
		padding-bottom:0;
	}
	#main {
		padding-top: 0;
		-webkit-animation-delay: 0s;
		animation-delay: 0s;
	}
}

/* -------------------------------------------- */

.wrapper {
	display: flex;
	flex-wrap: wrap;
	height: calc(100% - 3.75rem);
	justify-content: center;
	padding: 1.875rem;
	width: calc(100% - 3.75rem);
}

img {
	border-radius: 0.75rem;
}

/* -------------------------------------------- card contents -------------------------------------------- */
.full_name,
.title,
.email {
	flex-basis: 100%;
	margin-top: 0;
	text-align: center;
	text-shadow: inherit;
}

.full_name {
	font-family: 'Libre Baskerville', serif;
	font-size: 4rem;
	line-height: 1.3em;
	margin-bottom: 1.25rem;
	margin-top: 1.5rem;
}

.title {
	font-size: 3.5rem;
	letter-spacing: 0.05rem;
}

.email {
	font-size: 2rem;
	letter-spacing: 0.313rem;
}

.email > a {
	text-transform: uppercase;
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.link_buttons {
	display: flex;
	flex-basis: 75%;
	flex-direction: row;
	justify-content: space-around;
}

.link_button {
	align-items: center;
	cursor: pointer;
	display: flex;
	font-size: 2rem;
	margin: 1rem 0.7rem;
	text-shadow: inherit;
	color: rgb(255, 255, 255);
}

/* -------------------------------------------- original npm package settings -------------------------------------------- */
.ph-shadow {
	border: 0rem;
}

.ph-lighting {
	border-radius: 0.75rem;
}

.ph-layers div:nth-child(2) {
	z-index: 1;
}



/* ---------------------- Typing Effect ---------------------- */

.css-typing h1 {
	border-right: 0.15rem solid orange;
	font-family: 'Bungee Hairline', cursive;
	font-size: 2.3rem;
	margin: 0 auto;
	white-space: nowrap;
	overflow: hidden;
}
.css-typing h1:nth-child(1) {
	width: 10.3em; /* all of these width properties are required for the 'typing' animation to work */
	opacity: 0;
	-webkit-animation: type2 1s steps(40, end);
	animation: type2 1s steps(40, end);
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.css-typing h1:nth-child(2) {
	width: 11.8em;
	opacity: 0;
	-webkit-animation: type2 1s steps(40, end);
	animation: type2 1s steps(40, end);
	-webkit-animation-delay: 1.1s;
	animation-delay: 1.1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.css-typing h1:nth-child(3) {
	width: 29em;
	opacity: 0;
	-webkit-animation: type2 2s steps(40, end);
	animation: type2 2s steps(40, end);
	-webkit-animation-delay: 3.6s;
	animation-delay: 3.6s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.css-typing h1:nth-child(4) {
	width: 13.4em;
	opacity: 0;
	-webkit-animation: type2 1s steps(40, end);
	animation: type2 1s steps(40, end);
	-webkit-animation-delay: 7.1s;
	animation-delay: 7.1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.css-typing h1:nth-child(5) {
	width: 9em;
	opacity: 0;
	-webkit-animation: type3 2s steps(20, end),
		blink 0.5s step-end infinite alternate;
	animation: type3 2s steps(20, end), blink 0.5s step-end infinite alternate;
	-webkit-animation-delay: 9.1s;
	animation-delay: 9.1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

/* ---------------------- Animista Keyframes ---------------------- */
/* ----------------------------------------------
 * Generated by Animista on 2018-12-1 23:12:36
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes bounce-in-bottom {
	0% {
	  -webkit-transform: translateY(500px);
			  transform: translateY(500px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	  opacity: 0;
	}
	38% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	  opacity: 1;
	}
	55% {
	  -webkit-transform: translateY(65px);
			  transform: translateY(65px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	72% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	81% {
	  -webkit-transform: translateY(28px);
			  transform: translateY(28px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	90% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	95% {
	  -webkit-transform: translateY(8px);
			  transform: translateY(8px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }
  @keyframes bounce-in-bottom {
	0% {
	  -webkit-transform: translateY(500px);
			  transform: translateY(500px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	  opacity: 0;
	}
	38% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	  opacity: 1;
	}
	55% {
	  -webkit-transform: translateY(65px);
			  transform: translateY(65px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	72% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	81% {
	  -webkit-transform: translateY(28px);
			  transform: translateY(28px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	90% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
	95% {
	  -webkit-transform: translateY(8px);
			  transform: translateY(8px);
	  -webkit-animation-timing-function: ease-in;
			  animation-timing-function: ease-in;
	}
	100% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	  -webkit-animation-timing-function: ease-out;
			  animation-timing-function: ease-out;
	}
  }

@keyframes type2 {
	0% {
		width: 0;
	}
	1% {
		opacity: 1;
	}
	99.9% {
		border-right: 0.15rem solid orange;
	}
	100% {
		opacity: 1;
		border: none;
	}
}
@-webkit-keyframes type2 {
	0% {
		width: 0;
	}
	1% {
		opacity: 1;
	}
	99.9% {
		border-right: 0.15rem solid orange;
	}
	100% {
		opacity: 1;
		border: none;
	}
}
@keyframes type3 {
	0% {
		width: 0;
	}
	1% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes type3 {
	0% {
		width: 0;
	}
	1% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}
@keyframes blink {
	50% {
		border-color: transparent;
	}
}
@-webkit-keyframes blink {
	50% {
		border-color: transparent;
	}
}
@-webkit-keyframes color-change-3x {
	0% {
		background: #8fbc8f;
	}
	50% {
		background: #74a7c6;
	}
	100% {
		background: #dbd7d2;
	}
}
@keyframes color-change-3x {
	0% {
		background: #8fbc8f;
	}
	50% {
		background: #74a7c6;
	}
	100% {
		background: #dbd7d2;
	}
}
